@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&display=swap");
body {
  margin: 0;
  animation: anime infinite 2s linear;
}

@keyframes anime {
  0% {
    background: #69b7eb;
  }
  33% {
    background: #b3dbd3;
  }
  67% {
    background: #f4d6db;
  }
  100% {
    background: #69b7eb;
  }
}

#table100 {
  width: 100%;
}

#td10 {
  width: 10%;
  text-align: rigth;
  font-size: smaller;
}

#td50r {
  width: 50%;
  text-align: right;
}

#td50l {
  width: 50%;
  text-align: left;
}

#hint {
  font-size: small;
}

#hello,
a {
  font-size: x-large;
  margin: 0.2em;
  text-align: center;
}

#loginMessage,
#emailMessage,
#loginMessage1,
#passwordMessage1 {
  color: red;
}

#regMessage {
  color: green;
}

h5,
#hello,
#unauthorized {
  color: rgb(25, 0, 248);
  text-align: center;
}

td,
select,
button {
  vertical-align: center;
  text-align: center;
  font-size: xx-large;
  border-radius: 1em;
}

td span {
  text-align: "left";
}

button {
  margin: auto;
  display: block;
  background: white;
  padding: 1em 3em;
  box-shadow: 0 0 0 10px rgba(rgb(183, 255, 0), 0.5),
    0 0 0 20px rgba(rgb(65, 219, 137), 0.5);
  animation: a 2s linear infinite;
}

@keyframes a {
  0% {
    box-shadow: 0 0 0 10px rgba(197, 152, 152, 0.5),
      0 0 0 0px rgba(35, 4, 4, 0.5);
  }
  50% {
    box-shadow: 0 0 0 20px rgba(81, 9, 9, 0), 0 0 0 10px rgba(26, 175, 103, 0.5);
  }
  50.0001% {
    box-shadow: 0 0 0 0 rgba(138, 56, 186, 0.5),
      0 0 0 10px rgba(205, 207, 48, 0.5);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0.5), 0 0 0 20px rgba(255, 0, 0, 0);
  }
}

.col1,
.col2,
.col3 {
  animation: anime1 infinite 2s linear;
  display: flexbox;
}

@keyframes anime1 {
  0% {
    background: #9cf3e9;
  }
  33% {
    background: #85d9da;
  }
  67% {
    background: #b1e9f5;
  }
  100% {
    background: #82d3f6;
  }
}

.col1 {
  width: 33%;
}

.col2 {
  width: 34%;
}

.col3 {
  width: 33%;
}

.col2 select {
  margin: 1em;
  padding: 1em;
}

* {
  font-family: "Edu SA Beginner", cursive;
}

select,
div {
  border-radius: 1em;
  text-align: center;
  color: white;
};

button,
button:focus,
select {
  outline: none !important;
  box-shadow: none !important;
}

button {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -moz-transition: transform 0.5s, -moz-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s, -moz-transform 0.5s,
    -o-transform 0.5s;
}

button:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
